
.anchor
.DS_Store
target
**/*.rs.bk
node_modules
secrets
bin

**/.anchor
**/target
**/*.rs.bk
programs/**/*.lock
programs/**/*.so
programs/**/target

queue_*.json
vrf_program_*.json
vrf_account_*.json
state_*.json
switchboard_v2.json

./docker-compose.yml
./Anchor.toml

switchboard.env
start-local-validator.sh
start-oracle.sh
switchboard.json
docker-compose.switchboard.yml